In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("employee.csv")

In [3]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(df)

In [ ]:
df

In [ ]:
# display first 5 rows only
df.head()  # defaulting to first 5 rows

In [ ]:
# display first 9 rows only
df.head(9)

In [ ]:
# display last 2 records
df.tail(2)

In [ ]:
# displays (rows, columns)
df.shape

In [ ]:
# display all the columns and its datatypes
df.info()

In [ ]:
# display all the columns and its datatypes
df.dtypes

In [ ]:
df.describe()  # summary of the dataframe

In [ ]:
df['age'].describe()

In [4]:
df['age']

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [5]:
df['workclass']

0                State-gov
1         Self-emp-not-inc
2                  Private
3                  Private
4                  Private
               ...
32556              Private
32557              Private
32558              Private
32559              Private
32560         Self-emp-inc
Name: workclass, Length: 32561, dtype: object

In [7]:
# display age and workclass both
df[['age','workclass']]

       age          workclass
0       39          State-gov
1       50   Self-emp-not-inc
2       38            Private
3       53            Private
4       28            Private
...    ...                ...
32556   27            Private
32557   40            Private
32558   58            Private
32559   22            Private
32560   52       Self-emp-inc

[32561 rows x 2 columns]

In [ ]:
# writing outut to csv file
df[ ['age','workclass'] ].to_csv("2columns.csv", index=None)

In [ ]:
df.head(30).to_excel("first30.xlsx")

In [ ]:
output = df[ ['age','workclass'] ]
output.to_csv("only2colmns.csv")

In [ ]:
df.to_excel("csvtoexcel.xlsx")

In [ ]:
df['workclass']

In [ ]:
# display unique workclasses
df['workclass'].unique()

In [ ]:
# no. of unique workclasses
df['workclass'].nunique()

In [8]:
# df[column].value_counts() - will display the occurence of each item
df['gender'].value_counts()

gender
Male      21790
Female    10771
Name: count, dtype: int64

In [ ]:
condition = df['age'] > 50
df[condition]

In [ ]:
df[ df['age'] > 50 ]

In [ ]:
condition = df['workclass'].str.strip() == "Private"
df[condition]
#df[condition].to_csv("privateoutput.csv")

In [ ]:
cond1 = df['age'] > 50
cond2 = df['workclass'] == " Private"

df[cond1 & cond2]